.center
{
	text-align: center;
}

.title
{
	margin-bottom: 2em;
}

#downloadOutput
{
	width: 100%;
	min-height: 100px;
	overflow-wrap: break-word;
}

#markdownToggleTable
{
	width: 100%;
}

#markdownToggleContainer
{
	text-align: right;
}

iframe
{
border: 0;
}

/* List-view styling */
.list-group-item .btn-group
{
	margin-top: -5px;
}

#downloadsPanel
{
	width: 70%;
    display: none;
}

#refreshButton
{
	position: absolute;
	margin-left: 1em;
}

/* Remove large button outlines */
.btn:focus,.btn:active {
   outline: none !important;
}


#encryptPasswordArea, #decryptArea
{
	display: none;
}

.progress
{
    width: 20%;
}

.close
{
    padding-right: 4px;
    padding-bottom: 3px;
}

.downloadsTable
{
    table-layout: fixed;
}

.truncated-text
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    table-layout: fixed;
}

#peers
{
    color: limegreen;
}

#ratio
{
    color: dodgerblue;
}

#noscriptError, #webrtcError
{
	z-index: 9999;
	height: 100%;
	width: 100%;
	color: red;
	padding-top: 2em;
	padding-left: 15%;
	font-size: 2em;
	background-color: black;
	position: fixed;
}

#webrtcError
{
	display: none;
}

.fa-copy
{
    /* Space out from the left */
    padding-left:1em
}
