.center
{
	text-align: center;
}

.title
{
	margin-bottom: 2em;
}

#downloadOutput
{
	width: 100%;
	min-height: 100px;
}

#markdownToggleTable
{
	width: 100%;
}

#markdownToggleContainer
{
	text-align: right;
}

iframe
{
border: 0;
}
