.center
{
	text-align: center;
}

.title
{
	margin-bottom: 2em;
}

#downloadOutput
{
	width: 100%;
	min-height: 100px;
}

#markdownToggleTable
{
	width: 100%;
}

#markdownToggleContainer
{
	text-align: right;
}

iframe
{
border: 0;
}

/* List-view styling */
.list-group-item .btn-group
{
	margin-top: -5px;
}

#downloadsPanel
{
	width: 50%;
}
